<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/header') %>

    <body>

        <input type="button" value="Entrar Sala">
        <input type="button" value="Criar Sala" onclick="CriarSala()">

        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
    </body>

</html>