<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/header') %>
    <link rel="stylesheet" href="/style.css">

    <body onload="carregarMain()">
        <div class="home">
            <div style="display: flex; flex-direction: column;">
                <div class="header" id="homeHeader">Truco Online</div>
                
                <div style="display: flex; flex-direction: column;">
                    <input type="text" name="playerName" id="playerName" placeholder="Digite o nome do Jogador">
                    <input type="text" name="roomName" id="roomName" placeholder="Digite o nome da sala">
                    <select name="numPlayer" id="numPlayer">
                        <option value="2">2 jogadores</option>
                        <option value="4">4 jogadores</option>
                    </select>
                </div>
                <div>
                    <input type="button" value="CriarSala" onclick="criarSala()">
                </div>
            </div>

            <table id="roomsList">
                <thead style="background-color: black; color: white;">
                    <tr>
                        <th>Nome da sala</th>
                        <th>jogadores</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>



        <div class="lobby">
            <div id="lobbyTitle" style="font-size: 50px;"></div>
            <div style="display: flex; flex-direction: column;">

                <table id="playersList">
                    <thead style="background-color: black; color: white;">
                        <tr>
                            <th>Jogadores</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div id="teamsButtons" style="display: flex; flex-direction: column;">
                </div>

                <div>
                    <input type="button" value="Começar partida" onclick="iniciarJogo()">
                    <input type="button" value="Sair da sala" onclick="sairSala()">
                </div>
            </div>
        </div>



        <div class="game">
            <div id="score" class="game-infos">Time 1: 0 | Time 2: 0</div>
            <div id="next-player" class="game-infos"></div>
            <div id="round-value" class="game-infos">O round está valendo 1</div>

            <div class="cards-container">
                <img src="" class="card" onclick="playCard(0)">
                <img src="" class="card" onclick="playCard(1)">
                <img src="" class="card" onclick="playCard(2)">
            </div>

            <br><br>

            <div class="cards-container">
                <div class="card-flex">
                    <span>Ultima carta jogada:</span>
                    <img src="" id="last-card">
                </div>
                <div class="card-flex">
                    <span>Maior carta jogada:</span>
                    <img src="" id="biggest-card">
                </div>
            </div>

            <div id="challenge-buttons">
                <input type="button" value="TRUCO!" onclick="challenge()">
            </div>

        </div>

    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
    <script src="/gameScript.js"></script>
    </body>

</html>