<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/header') %>
<link rel="stylesheet" href="/style.css">
    <body onload="carregarLobby()">

        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: column;">
            </div>
            <div>
                <input type="button" value="Sair da sala" onclick="sairSala()">  
                <input type="button" value="Começar partida" onclick="comecarPartida()">
            </div>
        </div>

        
        <script src="/index.js"></script>
    </body>
</html>