<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/header') %>
<link rel="stylesheet" href="/style.css">
    <body>

        <input type="button" value="Começar partida" onclick="comecarPartida()">
        <input type="button" value="Começar partida" onclick="sairSala()">

        <script src="/socket.io/socket.io.js"></script>
        <script src="/index.js"></script>
    </body>
</html>