* {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #212121;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

input {
    background-color: #212121;
    border-color: #f1f1f1;
    color: #f1f1f1;
}

.lobby {
    display: none;
}

.game {
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: none;
    color: white;
}

.card {
    max-width: 200;
    max-height: 200;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.card-flex {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.game-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    margin: 10px;
}