body {
    background-color: #212121;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby {
    display: none;
}

.game {
    display: none;
}